*{
	margin:0;
	list-style: none;
}
.d-flex{
	display:flex;
}
.space{
	justify-content: space-between;
}
.d-none{
	 text-decoration:none;
}
.p-10{
	padding:10px;
}
.gap{
	gap:15px;
}
.btn{
	padding:10px;
	background: linear-gradient(101.61deg, #083F9B 0%, #7F56D9 93.39%);

}
.center{
	align-items: center;
}
.color{
	color: #4BE5CA;
}
.p-20{
	padding:20px;
}
.back-color{
	background:#1856c2;
}
.wit{
	color:rgb(200, 186, 186);
}
.fs{
	font-size: 50px;
}
.line{
	display:inline;
}
.margin-l{
	margin-left:20px;
}
.bgb{
	background: linear-gradient(180deg, #084FC7 0%, rgba(8, 79, 199, 0) 172.16%);
}
.f-20{
	font-size:20px;
}
.text-center{
	text-align: center;
}
.m-top{
	margin-top: 20px;
}
.text-right{
	text-align:right;
}
.size{
	width:80%;
}
.art-clr{
	background-color:rgb(209, 230, 249);
}
.foot-color{
	background-color:linear-gradient(94.63deg, #331DA8 0%, #865AEF 100.96%);
	;
}
.d-none{
	text-decoration: none;
}
.border{
	border: 5px;
	height: 2px;
	color:rgb(180, 15, 139)
}